.navbar{
    background-color: orange;
    display: flex;
    align-items: center;
    padding: 0 10px;
    gap: 100px;
    position: sticky;
    top: 0;

    .site-name{
        box-sizing: border-box;
        color: blue;
    }
    .site-menu{
        display: flex;
        gap: 10px;
    }
    .site-menu a{
        text-decoration: none;
    }
    .site-menu a:hover{
        text-decoration: underline;
    }
}
